@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 9 9 11;
  --card: 255 255 255;
  --card-foreground: 9 9 11;
  --muted: 244 244 245;
  --muted-foreground: 113 113 122;
  --primary: 37 99 235;
  --border: 228 228 231;
  --destructive: 239 68 68;
}

body {
  @apply bg-background text-foreground;
}